<section data-ng-controller="JobsController" data-ng-init="findOne()">
	<div class="page-header">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title" data-ng-cloak>{{job.title}}</h2>
			</div>
			<div class="panel-body">
				<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == job.user._id))">
					<a class="btn btn-primary" href="/#!/jobs/{{job._id}}/edit">
						<i class="glyphicon glyphicon-edit"></i>
					</a>
					<a class="btn btn-primary" data-ng-click="remove();">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</div>
				<p>Company: {{job.company}}</p>
				<p>Description: {{job.description}}</p>
				<p>Requirements: {{job.requirements}}</p>
				<p>Hourly Wage: {{job.hourly_wage|currency}}/hr</p>
				<p>State: {{job.state}}</p>
				<p>Email: {{job.email}}</p>
				<small>
					<em class="text-muted">
					Posted on
					<span data-ng-bind="job.created | date:'mediumDate'"></span>
					by
					<span data-ng-bind="job.user.displayName"></span>
					</em>
				</small>
			</div>
		</div>
	</div>
</section>